<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>W3Clove report for <%= @url %></title>
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold' rel='stylesheet' type='text/css'>
    <style type="text/css">
      #header, #main, #footer {
        padding: 5px; margin: 5px;
        background-color: #eee;
        border: 1px solid black;
      }
      #header, h1, h2, h3 {
        font-family: 'Cabin Sketch', arial, serif;
      }
      #header {
        font-size: 2.5em;
      }
      #footer {
        font-size: .85em;
        text-align: center;
      }
      .page {
        padding: 5px; margin: 5px;
        border: 1px solid black;
        background-color: white;
      }
      a { text-decoration: none; color: black;}
      a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <div id="header">
      W3Clove :: site-wide markup validation
    </div>

    <div id="main">
      <h1>Report for <a href='<%= @url %>'><%= @url %></a></h1>

      <h2>SITEMAP SUMMARY</h2>
      <p>TOTAL: <%= errors.length %> errors, <%= warnings.length %> warnings.</p>
      <% if errors.length > 0 %>
        <h2>POPULAR ERRORS</h2>
        <ul>
        <% errors.group_by {|e| e.message_id}.sort_by {|m,e| e.length}.reverse.each do |message_id, errors| %>
          <% if message_id == 'html5' %>
            <li><%= errors.length %> HTML5 errors found</li>
            <li>
              <ul>
              <% errors.select{|e| e.message_id == 'html5'}
                   .group_by {|e| e.text}
                   .sort_by {|m,e| e.length}
                   .reverse.each do |text, errors| %>
                  <li><%= errors.length %> times: <strong><%= text %></strong></li>
              <% end %>
              </ul>
            </li>
          <% elsif message_id %>
            <li>error <a href="http://validator.w3.org/docs/errors.html#ve-<%= message_id %>"><%= message_id %></a>
            happens <%= errors.length %> times</li>
          <% end %>
        <% end %>
        </ul>
      <% end %>

      <% if warnings.length > 0 %>
        <h2>POPULAR WARNINGS</h2>
        <ul>
        <% warnings.group_by {|w| w.message_id}.sort_by {|m,w| w.length}.reverse.each do |message_id, warnings| %>
          <% if message_id == 'html5' %>
            <li><%= warnings.length %> HTML5 warnings found</li>
            <li>
              <ul>
              <% warnings.select{|w| w.message_id == 'html5'}
                   .group_by {|w| w.text}
                   .sort_by {|m,w| w.length}
                   .reverse.each do |text, warnings| %>
                  <li><%= warnings.length %> times: <strong><%= text %></strong></li>
              <% end %>
              </ul>
            </li>
          <% elsif message_id %>
            <li>warning <a href="http://validator.w3.org/docs/errors.html#ve-<%= message_id %>"><%= message_id %></a>
            found <%= warnings.length %> times</li>
          <% end %>
        <% end %>
        </ul>
      <% end %>

      <% processed_pages = pages.select{|p| !p.exception} %>
      <% if processed_pages.size > 0 %>
        <h2>DETAILS PER PAGE</h2>
        <% processed_pages.each do |page| %>
          <div class='page'>
            <h3><a href='<%= page.url %>'><%= page.url %></a></h3>
            <p class='page_summary'>
              <%= "#{page.errors.length} errors, #{page.warnings.length} warnings" %>
            </p>

            <ul class="page_errors">
            <% page.errors.sort_by {|e| e.line.to_i}.each do |error| %>
              <li>
                <% if error.message_id == 'html5' %>
                  HTML5 error on line <%= error.line %>:
                <% else %>
                  Error <a href="http://validator.w3.org/docs/errors.html#ve-<%= error.message_id %>"><%= error.message_id %></a>
                  on line <%= error.line %>:
                <% end %>

                <%= error.text %>
              </li>
            <% end %>
            </ul>

            <ul class="page_warnings">
            <% page.warnings.sort_by {|w| w.line.to_i}.each do |warning| %>
              <li>
                <% if warning.message_id == 'html5' %>
                  HTML5 warning on line <%= warning.line %>:
                <% else %>
                  Warning <a href="http://validator.w3.org/docs/errors.html#ve-<%= warning.message_id %>"><%= warning.message_id %></a>
                  on line <%= warning.line %>:
                <% end %>

                <%= warning.text %>
              </li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id="footer">
      <strong>w3clove</strong>@2011 <a href='http://jaimeiniesta.com'>Jaime Iniesta</a>.
      Get w3clove from <a href="http://github.com/jaimeiniesta/w3clove">github</a>.
    </div>
  </body>
</html>
