<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Site Validator report for <%= @url %></title>
    <link rel="stylesheet" href="https://sitevalidator.com/cdn/bootstrap/1.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }


      /* Page header tweaks */
      .page {
        margin-top: 30px;
      }

      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }

      /* Errors and warnings messages */
      li{ color:#111; }

      /* Code blocks */
      pre { background-color: #eee; padding: 5px; margin: 5px; margin-bottom: 25px; }
      code { background-color: #eee; }

      /* Explanations */
      .w3c_explanation { border: 1px solid #ddd; background-color: #ffe; padding: 10px; margin: -10px 5px 25px 5px; }
      .helpwanted { float: right; font-size: 2em; }
      .coordinates { float: right; margin: 10px; background-color: #fff; color: #333; border: 1px solid #aaa;}

    </style>

    <link rel="stylesheet" href="https://sitevalidator.com/cdn/highlightjs/7.3/styles/default.min.css">
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="http://sitevalidator.com"><strong>Site Validator</strong></a>
          <ul class="nav" data-dropdown="dropdown" >
            <li><a href="http://sitevalidator.com/faqs">FAQs</a></li>
            <li><a href="http://sitevalidator.com/plans-and-pricing">Plans and pricing</a></li>
            <li><a href="http://sitevalidator.com/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <h1>MARKUP VALIDATION FOR <a href='<%= @url %>'><%= @url %></a></h1>

        <h2>SITEMAP SUMMARY</h2>
        <p>TOTAL: <%= errors.length %> errors, <%= warnings.length %> warnings.</p>

        <% if errors.length > 0 %>
          <h2>POPULAR ERRORS</h2>
          <ul>
          <% errors.group_by {|e| e.message_id}.sort_by {|m,e| e.length}.reverse.each do |message_id, errors| %>
            <% if message_id == 'html5' %>
              <li><%= errors.length %> HTML5 errors found</li>
              <li>
                <ul>
                <% errors.select{|e| e.message_id == 'html5'}
                     .group_by {|e| e.text}
                     .sort_by {|m,e| e.length}
                     .reverse.each do |text, errors| %>
                    <li><%= errors.length %> times: <strong><%= CGI::escapeHTML(text) %></strong></li>
                <% end %>
                </ul>
              </li>
            <% elsif message_id %>
              <li>error <a href="http://validator.w3.org/docs/errors.html#ve-<%= message_id %>"><%= message_id %></a>
              happens <%= errors.length %> times</li>
            <% end %>
          <% end %>
          </ul>
        <% end %>

        <% if warnings.length > 0 %>
          <h2>POPULAR WARNINGS</h2>
          <ul>
          <% warnings.group_by {|w| w.message_id}.sort_by {|m,w| w.length}.reverse.each do |message_id, warnings| %>
            <% if message_id == 'html5' %>
              <li><%= warnings.length %> HTML5 warnings found</li>
              <li>
                <ul>
                <% warnings.select{|w| w.message_id == 'html5'}
                     .group_by {|w| w.text}
                     .sort_by {|m,w| w.length}
                     .reverse.each do |text, warnings| %>
                    <li><%= warnings.length %> times: <strong><%= CGI::escapeHTML(text) %></strong></li>
                <% end %>
                </ul>
              </li>
            <% elsif message_id %>
              <li>warning <a href="http://validator.w3.org/docs/errors.html#ve-<%= message_id %>"><%= message_id %></a>
              found <%= warnings.length %> times</li>
            <% end %>
          <% end %>
          </ul>
        <% end %>

        <% processed_pages = pages.select{|p| !p.exception} %>
        <% if processed_pages.size > 0 %>
          <h2>DETAILS PER PAGE</h2>
          <% processed_pages.each do |page| %>
            <div class='page'>
              <h3>
                <a href='<%= page.url %>'><%= page.url %></a>
                <span class="label important"><%= "#{page.errors.length} errors" %></span>
                <span class="label warning"><%= "#{page.warnings.length} warnings" %></span>
              </h3>

              <div class="accordion">
                <% page.errors.sort_by {|e| e.line.to_i}.each do |error| %>
                  <h3>
                    <span class="label important">ERROR</span>
                    <%= CGI::escapeHTML(error.text.capitalize) %>
                  </h3>

                  <div>
                    <% if error.line && error.col %>
                      <span class="coordinates label">
                        LINE <%= error.line %>, COL <%= error.col %>
                      </span>
                    <% end %>

                    <% if error.source && error.source.strip.length > 0 %>
                      <pre><code class="html"><%= error.source.strip %></code></pre>
                    <% end %>

                    <% if error.explanation && error.explanation.strip.length > 0 %>
                      <div class="w3c_explanation"><%= error.explanation.strip %></div>
                    <% end %>
                  </div>

                <% end %>
              </div>

              <div class="accordion">
                <% page.warnings.sort_by {|w| w.line.to_i}.each do |warning| %>
                  <h3>
                    <span class="label warning">WARNING</span>
                    <%= CGI::escapeHTML(warning.text.capitalize) %>
                  </h3>

                  <div>
                    <% if warning.line && warning.col %>
                      <span class="coordinates label">
                        LINE <%= warning.line %>, COL <%= warning.col %>
                      </span>
                    <% end %>

                    <% if warning.source && warning.source.strip.length > 0 %>
                      <pre><code class="html"><%= warning.source.strip %></code></pre>
                    <% end %>

                    <% if warning.explanation && warning.explanation.strip.length > 0 %>
                      <div class="w3c_explanation"><%= warning.explanation.strip %></div>
                    <% end %>
                  </div>

                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <footer>
          <p>This markup validation report has been generated using the <a href="http://gem.sitevalidator.com">SiteValidator</a> gem.</p>
          <p>You can also find an online version that lets you store the results and re-check the URLs later, at <a href="http://sitevalidator.com">sitevalidator.com</a>.</p>
          <p><strong>SiteValidator</strong> is a lovely site-wide markup validator. We're not associated with the W3C but we love it!</p>
        </footer>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript">
      $('.accordion').accordion({active: 'false', heightStyle: 'content' });
    </script>

    <script src="https://sitevalidator.com/cdn/highlightjs/7.3/highlight.min.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
